<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>

<div>
	<button *ngIf="!gameStarted" (click)="startGame()">Start Game</button>
	<button *ngIf="gameStarted" (click)="endGame()">End Game</button>
</div>
<div *ngIf="gameStarted">
	<h2>Choose</h2>
	<div>
		<button (click)="chooseItem('rock')">Rock</button>
		<button (click)="chooseItem('paper')">Paper</button>
		<button (click)="chooseItem('scissors')">Scissors</button>
	</div>
	<div>
		<h3>{{playerText}}</h3>
		<h3>{{opponentText}}</h3>
		<h3>{{resultText}}</h3>
	</div>	
</div>

